* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

#center {
  
  
  /* background-color: black; */
}

#center .p-left {
  width: 88px;
  height: 968px;
  position: fixed;
  left: 0;
  top: 0;
  /* background-color: blue; */
  border-right: 2px solid rgb(231, 229, 229);
  /* float: left; */
}


.p-left ul {
  margin-top: 50px;
}

.p-left li {
  width: 90px;
  height: 85px;
  color: #6f787c;
  text-align: center;
  font-size: 8px;
}


#p-left-o {
  display: none;
  text-align: center;
  margin-top: -9px;
}

#p-left-o img {
  width: 62.5%;
  margin-left: 3px;
}

.p-left-t {
  margin-top: 26px;
}

.p-left li p {
  margin-left: 4px;
  /* width: 100%; */
}

.lif {
  margin-top: 18px;
}

.p-left li img {
  /* border-right: 120px solid transparent; */
  /* -webkit-filter: drop-shadow(30px 0 0 #ccc); */
  filter: grayscale(120%);
}

/* .p-left li:nth-child(1){
      color: #11809f;
  } */
#center .header {
  width: 1493px;
  height: 706px;
  margin-left: 90px;
  /* background-color: black; */
  background-image: url("../img/arm-homepage-hero-ai-1920x706.jpg");
  background-position: -211px 0;
  /* color: #fff; */
}

.picture-one img {
  width: 8.8%;
  margin-left: 70px;
  margin-top: 50px;
}

.word {
  width: 1000px;
  height: 219px;
  /* background-color: black; */
  margin-left: 70px;
  margin-top: 86px;
  color: #fff;
  /* font-family: 'Futura PT W01 Book'; */
}

.word .word-o {
  font-size: 33px;
}

.word .word-two {
  font-size: 65px;
}

.word .word-three {
  font-size: 65px;
  margin-top: -20px;
  width: 895px;
  height: 100px;
  border-bottom: 3px solid orange;
  /* background-color: black; */
}

.word .word-four {
  margin-top: 39px;
  font-size: 21px;
}

.learn {
  width: 207.64px;
  height: 44px;
  background-color: #ffc700;
  margin-top: 89px;
  border-radius: 40px;
  text-align: center;
  line-height: 42px;
  font-size: 19px;
  margin-left: 70px;
}

.main {
  width: 1493px;
  height: 5893px;
  /* background-color: rgb(241, 241, 115); */
  margin-left: 90px;
}

.main .main-body {
  width: 1170px;
  height: 783px;
  /* background-color: rgb(100, 253, 100); */
  margin: 0 auto;
  margin-top: 90px;
}

.main-w-one p {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
}




.main-w-two p {
  text-align: center;
  font-size: 15px;
  /* font-weight: 700; */
  line-height: 26px;
}

.main-w-three {
  width: 1170px;
  height: 555px;
  /* background-color: rgb(245, 98, 98); */
}

.three-left,
.three-right {
  width: 585px;
  height: 530px;
  /* background-color: rgb(63, 63, 248); */
  float: left;
  text-align: center;
}

.three-left img,
.three-right img {
  margin-top: 70px;
}

.left-w {
  margin-top: 35px;
  font-size: 20px;
}

.left-ww {
  width: 455px;
  height: 66px;
  font-size: 25px;
  margin-left: 58px;
  font-weight: 300;
  margin-top: 10px;
}

.left-www {
  width: 455px;
  height: 104px;
  margin-left: 64px;
  margin-top: 12px;
  line-height: 26px;
  font-weight: 300;
}

.left-wwww {
  margin-top: 20px;
  margin-left: -25px;
}

.left-wwww a {
  color: #11809f;
  font-size: 19px;
}

.left-wwww a:hover {
  color: #ff6b00;
}

.left-wwww::after {
  border-right: 2px solid #ffc700;
  border-top: 2px solid #ffc700;
  content: '';
  display: block;
  height: 16px;
  margin-left: 395px;
  margin-top: -20px;
  /* -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg); */
  transform: rotate(45deg);
  width: 16px;
}

.main-b-two-center {
  width: 1170px;
  height: 657px;
  background-color: black;
  margin: 0 auto;
}

.m-b-t-top {
  width: 100%;
  height: 100px;
  background-color: #0587af;
  color: #fff;
  position: relative;
}

.top-one {
  display: inline-block;
  margin-top: 17px;
  margin-left: 30px;
  font-size: 18.5px;
}

.top-two {
  margin-top: 2px;
  margin-left: 30px;
  font-size: 27px;
  font-weight: 100;
}

.m-b-t-center {
  width: 100%;
  height: 658px;
  /* background-color: rgb(240, 39, 39); */
  /* background-image: url("../img/bc795e2188cc251c1136f1e1e2ff6d2c.webp");
  background-position: -511px -258px;
  background-size: 1220px;
  background: no-repeat; */
  margin-top: -100px;
}

.m-b-t-center img {
  width: 100%;
  height: 658px;
}

.m-b-t-bottom {
  width: 153px;
  height: 97.5px;
  background-color: rgba(84, 187, 255, 0.8);
  position: relative;
  top: 201px;
  left: 508px;
}

.main-b-one {
  width: 1493px;
  height: 190px;
  background-color: #333e48;
  margin-top: 45px;
}

.main-b-o-center {
  width: 1350px;
  height: 190px;
  /* background-color: rgb(255, 81, 81); */
  margin: 0 auto;
}

.changtiao {
  display: inline-block;
  width: 1350px;
  height: 87px;
  /* background-color: rgb(250, 102, 102); */
  margin-top: 51.5px;
}

.main-b-o-word {
  width: 228px;
  height: 66px;
  font-size: 25px;
  margin-left: 105px;
  margin-top: 10px;
  line-height: 34px;
  font-weight: 100;
  color: #fff;
  float: left;
}

.main-b-o-center ul {
  display: inline-block;
  width: 900px;
  height: 87px;
  /* background-color: rgb(22, 230, 22); */
  margin-left: 30px;
}

.main-b-o-center ul li {
  width: 163px;
  height: 57px;
  /* background-color: rgb(241, 241, 79); */
  float: left;
  line-height: 55px;
  margin-top: 15px;
}

.b-r {
  border-right: 1px solid #586269;
}

.b-mm {
  text-align: center;
  margin-left: 10px;
}

.main-b-o-center ul li a {
  color: #fff;
  font-weight: 700;
  margin-left: 5px;
  font-size: 16px;
}

.yuandian {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #586269;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.main-b-two {
  width: 1493px;
  height: 778px;
  /* background-color: rgb(111, 241, 111); */
}

.main-b-two h2 {
  /* display: inline-block; */
  color: inherit;
  font-size: 41px;
  font-weight: 700;
  line-height: 42px;
  /* margin: 0 0 64px; */
  text-align: center;
  line-height: 170px;
}

.yousanjiao {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 21px solid transparent;
  border-left: 32px solid #fff;
  border-bottom: 23px solid transparent;
  margin-left: 65px;
  margin-top: 27px;
}

.main-b-three {
  width: 1493px;
  height: 1303px;
  background-color: #333e48;
}

.m-b-th-picture {
  width: 896.5px;
  height: 1303px;
  background-image: url("../img/arm-homepage-mobile-solution-728x1299.jpg");
  background-position: 0px -148px;
  /* position: relative;
  top: 0;
  left: 0; */
  float: right;
  background-size: cover;
}

.m-b-th-word {
  display: inline-block;
  width: 420px;
  height: 567px;
  /* background-color: rgb(21, 236, 21); */
  margin-top: 230px;
  margin-left: 176px;
  color: #fff;
}

.Solution {
  display: inline-block;
  font-size: 29px;
  font-weight: 300;
  margin-top: 45px;
}

.Mobile {
  width: 346px;
  height: 180px;
  font-weight: 700;
  font-size: 45px;
  margin-top: 5px;
}

.Innovation {
  width: 330px;
  height: 130px;
  margin-top: 65px;
  line-height: 25px;
  font-weight: 100;
}

.left-wwwww {
  margin-top: 32px;
  /* margin-left: px; */
}

.left-wwwww a {
  color: #08a3d3;
  font-size: 19px;
}

.left-wwwww a:hover {
  color: #08a4d3b6;
}

.left-wwwww::after {
  border-right: 2px solid #ffc700;
  border-top: 2px solid #ffc700;
  content: '';
  display: block;
  height: 16px;
  margin-left: 105px;
  margin-top: -20px;
  /* -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg); */
  transform: rotate(45deg);
  width: 16px;
}

.m-b-th-bottom {
  width: 1170px;
  height: 506px;
  margin: 0 auto;
  /* overflow: hidden; */
}

.More {
  /* width: 1140px;
  height: 26px; */
  display: inline-block;
  color: #fff;
  font-size: 22.9px;
  font-weight: 700;
  /* line-height: 280px; */
  margin-top: 122px;
  margin-left: 15px;
}

.picture-six {
  /* display: inline-block; */
  width: 1185px;
  height: 220px;
  /* background-color: rgb(41, 252, 41); */
  position: relative;
  top: -320px;
  left: 0;
  display: flex;
}

.picture-six ul {
  margin-left: 5px;
}

.picture-six ul li {
  display: inline-block;
  /* position: relative; */
  width: 195px;
  height: 220px;
  /* background-color: red; */
  /* float: left; */
  margin-left: -5px;
  cursor: pointer;
  border-right: 1.3px solid rgb(209, 208, 208);
}

/* .picture-six ul li::after{
    border-right: 1px solid black;
} */
.picture-fk {
  display: inline-block;
  width: 195px;
  height: 155px;
  background-color: #fff;
}

.picture-fk img {
  margin-top: 40px;
  margin-left: 59px;
}

.picture-fk:hover {
  background-color: rgba(117, 116, 116, 0.445);
}

.picture-zi {
  /* display: inline-block; */
  width: 195px;
  height: 65px;
  background-color: #0091bd;
  /* border-right-style: solid; */
  text-align: center;
  color: #fff;
  /* margin-top: 20px; */
  line-height: 68px;
  font-weight: 700;
}

.Artificial img {
  /* display: inline-block; */
  margin-top: 45px;
}

.Smart img {
  margin-top: 45px;
}

.main-b-four {
  width: 1493px;
  height: 679px;
  /* background-color: black; */
  background-color: #eff5f4;
}

.m-b-f-right {
  width: 596.5px;
  height: 679px;
  background-image: url("../img/arm-pelion-iot-platform.jpg");
  background-size: cover;
  float: right;
}

.m-b-f-right img {
  width: 378px;
  height: 378px;
  position: relative;
  top: 151px;
  left: -150px;
}

.m-b-f-left {
  display: inline-block;
  width: 720px;
  height: 606px;
  /* background-color: rgb(26, 245, 26); */
  margin-top: 50px;
  margin-left: 26px;
}

.m-b-f-left .m-b-f-l-pone {
  font-size: 43px;
  font-weight: 700;
  margin-top: 50px;
  text-align: center;
  /* margin-left: px; */
  color: #333e48;
}

.m-b-f-l-ptwo {
  display: inline-block;
  width: 495px;
  height: 156px;
  margin-left: 150px;
  margin-top: 16px;
  line-height: 25px;
  font-weight: 100;
}

.m-b-f-l-aone {
  display: inline-block;
  width: 346.33px;
  height: 48px;
  background-color: #ffc700;
  border-radius: 40px;
  margin-left: 151px;
  margin-top: 41px;
  text-align: center;
  line-height: 47px;
  font-size: 18.5px;
  color: #333e48;
  /* font-weight: 500; */
}

.main-b-five {
  /* display: inline-block; */
  width: 1493px;
  height: 770px;
  background-color: #333e48;
}

.main-b-f-left {
  width: 896.5px;
  height: 770px;
  background-image: url("../img/AI_Trust_Manifesto_Homepage_900x600.jpg");
  background-size: cover;
  background-position: -258px 0;
  float: left;
}

.main-b-f-center {
  width: 458.25px;
  height: 660px;
  /* background-color: rgb(58, 241, 58); */
  margin-top: 120px;
  margin-left: 175px;
  /* font-size: 20px; */
  color: #fff;
}

.main-b-f-one {
  display: inline-block;
  font-size: 29px;
  font-weight: 100;
  margin-top: 15px;
}

.main-b-f-two {
  width: 458.25px;
  height: 120px;
  font-size: 42px;
  font-weight: 700;
  margin-top: 10px;
}

.main-b-f-three {
  margin-top: 48px;
  line-height: 26px;
  font-size: 15px;
  margin-left: 2px;
}

.m-b-f-l-aoneee {
  display: inline-block;
  width: 241.61px;
  height: 44px;
  background-color: #ffc700;
  border-radius: 40px;
  margin-left: 2px;
  margin-top: 44px;
  text-align: center;
  line-height: 46px;
  font-size: 18.5px;
  color: #333e48;
  /* font-weight: 500; */
}

.main-b-f-right {
  width: 435px;
  height: 660px;
  /* background-color: rgb(231, 231, 96); */
  float: left;
  margin-top: 50px;
  margin-left: 70px;
}

.main-b-f-r-one {
  width: 298px;
  height: 226px;
  margin-left: 46px;
  margin-top: -7px;
  color: #fff;
}

.l1 {
  font-size: 18px;
  font-weight: 700;
  padding-left: 15px;
  padding-right: 15px;
  /* margin-left: 10px; */
}

.fieldset {
  /* color: inherit; */
  width: 298px;
  height: 232px;
  display: inline-block;
  border: 3px solid yellow;
}

.fieldset2 {
  width: 298px;
  height: 206px;
  display: inline-block;
  border: 3px solid #ffc700
}

.fieldset3 {
  width: 298px;
  height: 180px;
  display: inline-block;
  border: 3px solid #95d600;
  ;
}

.main-b-f-r-two {
  width: 303.75px;
  height: 200px;
  /* background-color: blueviolet; */
  /* float: right; */
  margin-top: 30px;
  margin-left: 46px;
  color: #fff;
}

.main-b-f-r-three {
  width: 303.75px;
  height: 174px;
  /* background-color: blueviolet; */
  /* float: right; */
  margin-top: 30px;
  margin-left: 46px;
  color: #fff;
}

.p1 {
  font-size: 23.5px;
  font-weight: 700;
  margin-left: 15px;
  margin-top: 10px;
}

.p2 {
  width: 267.75px;
  height: 104px;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 15px;
  line-height: 26px;
}

.p22 {
  width: 267.75px;
  height: 78px;
  margin-left: 15px;
  margin-top: 10px;
  line-height: 26px;
  font-size: 15px;
}

.p222 {
  width: 267.75px;
  height: 52px;
  margin-left: 15px;
  margin-top: 10px;
  line-height: 26px;
  font-size: 15px;
}

.a1 {
  display: inline-block;
  color: #00c1de;
  margin-left: 15px;
  margin-top: 15px;
  font-size: 18px;
}

.main-b-six {
  width: 1493px;
  height: 679px;
  /* background-color: black; */
}

.m-b-f-rightt {
  width: 896.5px;
  height: 679px;
  background-image: url("../img/arm-homepage-sustainability-900x600.jpg");
  background-size: cover;
  float: right;
}

.m-b-f-right img {
  width: 378px;
  height: 378px;
  position: relative;
  top: 151px;
  left: -150px;
}

.m-b-f-leftt {
  display: inline-block;
  width: 420px;
  height: 612px;
  /* background-color: rgb(26, 245, 26); */
  margin-top: 50px;
  margin-left: 26px;
}

.m-b-f-leftt .m-b-f-l-ponee {
  display: inline-block;
  width: 346px;
  height: 120px;
  font-size: 43px;
  font-weight: 700;
  margin-top: 50px;
  /* text-align: center; */
  margin-left: 150px;
  color: #333e48;
}

.m-b-f-l-divone {
  display: inline-block;
  width: 495px;
  height: 117px;
  font-size: 23px;
  margin-top: 64px;
  font-weight: 600;
  /* text-align: none; */
  margin-left: 150px;
  line-height: 39px;
}

.m-b-f-l-ptwoo {
  display: inline-block;
  width: 346px;
  height: 234px;
  margin-left: 150px;
  margin-top: 56px;
  line-height: 25px;
  font-weight: 100;
}

.m-b-f-l-aonee {
  display: inline-block;
  width: 207px;
  height: 48px;
  background-color: #ffc700;
  border-radius: 40px;
  margin-left: 151px;
  margin-top: 43px;
  text-align: center;
  line-height: 48px;
  font-size: 18.5px;
  color: #333e48;
  /* font-weight: 500; */
}

.main-b-seven {
  width: 1493px;
  height: 666px;
  background-color: #46535f;
}

.main-b-s-center {
  display: inline-block;
  width: 1170px;
  height: 531px;
  /* background-color: black; */
  /* margin: 0 auto; */
  margin-left: 161.5px;
  margin-top: 90px;
  text-align: center;
  color: #fff;
}

.m-p1 {
  font-size: 26.5px;
  font-weight: 100;
}

.m-p2 {
  font-size: 41px;
  font-weight: 700;
  margin-top: 20px;
}

.m-p3 {
  margin-top: 29px;
  font-size: 15.5px;
}

.m-p4 {
  margin-top: 7px;
  font-size: 15.4px;
}

.m-p5 {
  display: inline-block;
  width: 140px;
  height: 54px;
  /* background-color: rgb(14, 245, 14); */
  border-bottom: 3px solid #fdc806;
  font-size: 15.2px;
  margin-top: 5px;
}

.m-picture-four {
  width: 1140px;
  height: 150px;
  /* background-color: rgb(12, 248, 12); */
  margin-top: 58px;
  margin-left: 48px;
}

.m-p-f-1 {
  margin-left: 1px;
}

.m-p-f-2 {
  margin-left: 5px;
}

.m-p-f-3 {
  margin-left: 6px;
}

.m-p-f-4 {
  margin-left: 5px;
}

.m-p-f-a {
  display: inline-block;
  width: 277px;
  height: 38px;
  background-color: #ffc700;
  border-color: #ffc700;
  border-style: solid;
  border-width: 3px;
  color: #333e48;
  border-radius: 40px;
  margin-top: 17px;
  line-height: 38px;
  font-size: 19px;
}

.footer {
  width: 1493px;
  height: 478px;
  background-color: #333e48;
  margin-left: 90px;
}

.footer-center {
  width: 1180px;
  height: 443px;
  /* background-color: black; */
  margin: 0 auto;
}

.footer-five {
  display: inline-block;
  width: 1170px;
  height: 255px;
  /* background-color: rgb(247, 52, 52); */
  margin-top: 36px;
}

.footer-five ul {
  width: 195px;
  height: 220px;
  /* background-color: red; */
  float: left;
  line-height: 28px;
  /* margin-left: 20px; */
}

.li-1 a {
  display: inline-block;
  color: #a3a8ae;
  font-size: 18px;
  margin-bottom: 7.5px;
}

.li-11 a {
  color: #fff;
  font-size: 13px;
}

.f-f-ul {
  /* display: inline-block; */
  margin-left: 20px;
}

.xiaotubiao {
  width: 1140px;
  height: 46px;
  /* background-color: rgb(5, 236, 5); */
  margin-top: 15px;
  border-top: 1px solid #fff;
  margin-left: 20px;
}

.xiaotubiao .img1 {
  margin-top: 10px;
  margin-left: -7px;
}

.img2 {
  width: 90px;
  height: 27.44px;
  float: right;
  margin-top: 18px;
}

.word-seven {
  width: 1140px;
  height: 40px;
  /* background-color: rgb(8, 255, 8); */
  margin-top: 15px;
  margin-left: 8px;
}

.word-seven ul li {
  float: left;
}

.word-seven ul li a {
  color: #a3a8ae;
  font-size: 13px;
  margin-left: 12px;
  /* background-color: red; */
  /* border-right: 1px solid #a3a8ae; */
}

.li-a-a {
  display: inline-block;
  width: 96.13px;
  height: 21px;
  border-right: 1px solid #a3a8ae;
}

.li-a-aa {
  display: inline-block;
  width: 135px;
  height: 21px;
  border-right: 1px solid #a3a8ae;
}

.end {
  color: #a3a8ae;
  margin-left: 20px;
  margin-top: 13px;
  font-size: 12.8px;
}