.c-unsuooorted-bowser u-no-print {
    display: none;
}
.c-sticky-wrapper {
    position: fixed;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 50 !important;
}
 .c-notifications-wrapper {
        background-color: #e5eceb;
        position: -webkit-sticky;
        position: sticky;
        z-index: 99;
    } 
    .c-notification {
        background-color: #e5eceb;
        box-sizing: content-box;
        min-height: 55px;
        position: sticky !important;
        width: 100%;
    }
    
    .c-utility-navigation-sticky-wrapper {
        display: block;
        position: fixed;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: 100%;
    }

    .c-utility-navigation-wrapper {
        position: absolute;
        right: 0;
        top: 35px;
    }
    .c-mega-navigation__icons {
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        padding:20px 0;
        width:100%;
    }
    .c-mega-navigation__icon {
        display: block;
        margin-bottom: 3px;

    }
    img {
        border: 0;
    }
    .c-mega-navigation_label {
        box-sizing: border-box;
    }
    .c-mega-navigation_close {
        display: none;
        height: 21px;
        width: 21px;
    }
    .c-masthead_headling {
        color: inherit;
        font-family: 'Futura PT W01 Book';
        line-height: 1rem;
        padding: 135px 30px 0;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }
    .c-masthead_subtitle {
        color: inherit;
        display: inline-block;
        line-height: 8;
        margin-bottom: 24px;
        margin-top: 0;
    }
    .masthead_subtitle_title {
        display: inline-block;
        font-family: 'Futura PT W01 Demi';
        line-height: 9;
        margin-top: 12px;

    }
    .bg-color-arm-ywllow {
        background-color: #ffc700
    }
    .c-masthead_hr {
        display: none;
        margin: 30px 0 15px;
    }
    .c-masthead_description {
        color: inherit;
        font-family: 'Futura PT W01 Demi';
        letter-spacing: 1px;
        line-height: 1;
        margin: 0 0 30px;
    }
    div {
        display: block;
    }
    .button c-button-cta {
        border-color: #ffc700;
        border-style: solid;
        border-width: 3px;
        color: #333e48;
    } 
        .c-image-above-content-card_image-placeholder {
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 40px;
        max-height: 150px;
        width: 100%;
    }  
    .colum {
        position: relative;
        padding-left: .9375rem;
        padding-right: .9375rem;
        float: left;
    }         
    .c-full-width-text-subcontent__primary {
        font-weight: 700;
    }
    .c-full-width-text-subcontent__description {
        color:inherit;
    }
    .c-full-width-text-subcontent__description {
        font-size: 16px;
        font-weight: 400px;
        line-height: 1.65;
        margin-bottom: 30px;
    }
    ul {
        margin: 10px 10px 10px;
        padding: 5px 0px 5px 0px;
        list-style-type: none;
        color: gray;
    }
    nav ul li {
    display: block;
    padding: 50px 10px 0px 10px
    }
    .c-mega-navigation_close {
        display: none;
    }
    .c-mega-navigation__icon--active {
        display: none;
    }
    .c-sticky-wrapper {
        position: fixed;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 50 !important;
    }
    .c-notifications-wrapper {
        background-color: #e5eceb;
        position: -webkit-sticky;
        position: sticky;
        z-index: 99;
    }
    .c-notification {
        background-color: #e5eceb;
        box-sizing: content-box;
        min-height: 55px;
        position: sticky !important;
        width: 100%;
    }
    .c-utility-navigation-sticky-wrapper {
        display: block;
        position: fixed;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: 100%;
    }
    .c-utility-navigation-wrapper {
        position: absolute;
        right: 0;
        top: 35px;
    }
    body {
        margin: 0;
        padding: 0;
    }
html, body {
    height: 100%;
}
body, p {
    color: #333e48;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
 }
 iframe {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}ol li, ul li {
    margin-bottom: 9px;
    margin-left: 30px;
}
ul li:before {
    content: '\2022\ ';
}
li {
    list-style-position: inside;
}
ol li:before, ul li:before {
    left: 15px;
    position: absolute;
}
a:visited {
    border-bottom-color: #002f6c;
    color: #002f6c;
}
a {
    border-bottom-color: #11809f;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    color: #11809f;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
}







    


